[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0116,  # missing-function-docstring
    C1803,  # use-implicit-booleaness-not-comparison
    C0411   # wrong-import-order

[FORMAT]
max-line-length=120

[MASTER]
ignore=.venv